html, body {
  background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background-size: 100%;
}

.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  margin: auto;
  justify-content: space-around;
  width: 70%;
}

.done-list, .todo-list {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 36px;
  padding: 16px 40px;
  width: 400px;
  min-height: 400px;
  box-shadow: 0 10px 20px 0 rgba(black, 0);
}

.todo-task, .done-task {
  border-radius: 34px;
  padding: 8px 12px;
  min-width: 200px;
  margin: 16px;
}

.app-container label {
  font-size: 18px;
}

.app-container p {
  color: white;
}

.app-container h1 {
  padding-bottom: 10px;
  text-align: center;
  margin: 5px 10px;
}

.todo-task {
  background-color: rgba(238,174,202,1);
}

.done-task {
  background-color: rgba(148,187,233,1);
}

.header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 20px 0 rgba(black, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px auto 40px auto;
  width: 100%;
}