.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  gap: 10px;
  justify-content: space-around;
}

.todo-list {
  display: flex;
  flex-direction: column;

}

.done-list {
  display: flex;
  flex-direction: column;
}